<section class="scrapbookcontainer">

<div id="isotopeContainer" isotope-container="" ng-cloak class="ng-cloak row">
<div isotope-item="" class="scrapbookentry {{ entry.media }}" ng-repeat="entry in entries" ng-init="entry = entry.fields">
    
    <!-- header -->
    <div class="entry-info">
        <p class="entry-title"> {{ entry.title }} </p>
        <p class="entry-subtitle"> {{ entry.subtitle }} </p>
    </div>
    
    <!-- description -->
    <div class="entry-desc">
        
        <span class="quoted" ng-show="entry.quoted"> 
            {{ entry.quoted }}
            <p ng-show="entry.description">/</p>
        </span>
        
        <p ng-show="entry.description">{{ entry.description }}</p>
    </div>
    
    
    
    <!-- after -->
    <div class="afterthought" opt-kind="" ok-key="filter">
        <p><a href="#" ok-sel=".{{ entry.media }}">
            {{ entry.media }} </a> <b> &nbsp;  &#183; &nbsp;  </b> 
            
            <!-- alternative dates -->
            <span ng-show="entry.watchdate_alt">
                {{ entry.watchdate_alt }}
            </span>
            
            <span ng-if="!entry.watchdate_alt">
                
            <!-- start and end date-->
            {{ entry.watchdate_start | date:'mediumDate' }} 
            <span ng-show="entry.watchdate_end">- {{ entry.watchdate_end | date:'mediumDate' }} </span>
                
            </span>
            
            </p>
    </div>
        
    </div>
    
</div>